body {
  background-color: rgb(158, 158, 158);
}
.App {
  width: 60%;
  margin: 40px auto;
  text-align: center;
  min-width: 860px;
  border: 3px solid rgb(199, 147, 113);
  background-color: rgb(22, 22, 21);
  border-radius: 15px;
}

#title {
  font-size: 60px;
  color: rgb(207, 158, 66);
}
@media(max-width: 1600px) {
  .App{
    width: 85%;
  }
}

@media(max-width: 1100px) {
  .App{
    width: 95%;
  }
}

@media(max-width: 940px) {
  .App{
    width: 100%;
  }
}